<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="dump">
  <link
    name="dump">
    <inertial>
      <origin
        xyz="-2.6878 -5 -0.1791"
        rpy="0 0 0" />
      <mass
        value="7731" />
      <inertia
        ixx="69164"
        ixy="5.96293558529387E-12"
        ixz="267.26"
        iyy="7958.8"
        iyz="4.6754392161299E-12"
        izz="77020" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://dump/meshes/dump.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://dump/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://dump/meshes/dump.STL" />
      </geometry>
    </collision>
  </link>
</robot>